$id: https://example.com/person.schema.json
$schema: https://json-schema.org/draft/2020-12/schema
$comment: This schema It defines the structure, rules, and requirements for data related to an industry in the IDR-Schema context
title: IDR-Schema
type: object

required:
  - name
  - short_name
  - id
  - inputs
  - outputs
  - demands
  - outcome

properties:
  name:
    type: string
    description: Name of the method
  short_name:
    type: string
    description: Name of the class to be used in Python
  id:
    type: string
    description: ID of the method
  description:
    type: string
    description: Description of the method
  version:
    type: string
    description: Version of the method
  type:
    type: string
    description: whether it is a process or an industry
  debug:
    type: boolean
    description: Debug mode. If true, it will print all the intermedary results

  constants:
    $comment: constants are the values that are used in the calculation of the outputs
    type: array
    items:
      type: object
      required:
        - name
        - value
        - units
      properties:
        name:
          type: string
          description: Name of the constant
        description:
          type: string
          description: Description of the constant
        value:
          type: number
          description: Value of the constant
        citation:
          type: string
          description: the type of the source
        source:
          type: string
          description: Source of the constant
        units:
          type: string
          description: Units of the constant

  inputs:
    $comment: inputs values that are needed to calculate a demand
    type: array
    items:
      type: object
      required:
        - name
        - value
        - from
        - units
      properties:
        name:
          type: string
          description: Name of the input
        description:
          type: string
          description: Description of the input
        value:
          anyOf:
            - type: array
              items:
                type: number
            - type: "null"
          description: Value of the input
        units:
          type: string
          description: Units of the input
        from:
          anyOf:
            - type: string
            - type: "null"
          description: Source of the input

  outcome:
    $comment: the final producto of the industry (but it is also the input to our simulation, we generate a class to produce the specified outcome)
    type: array
    items:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the output
        description:
          type: string
          description: Description of the output
        test:
          type: array
          itemps:
            type: number

  demands:
    $comment: demands are the external elementes needed to add to the process to generate the outcome
    type: array
    items:
      type: object
      required:
        - name
        - operation
        - args
      properties:
        name:
          type: string
          description: Name of the output
        operation:
          type: string
          description: Valid sympy operation to calculate the output
        args:
          type: array
          items:
            type: object
            required:
              - name
              - type
            properties:
              name:
                type: string
                description: Name of the argument
              type:
                type: string
                description:
                  defines whether the argument is a constant, input or
                  output
        description:
          type: string
          description: Description of the demand
        meta:
          type: string
          description: the demands that have the same value in this field are aggregated in a meta-demand with the same name
        test:
          type: array
          itemps:
            type: number

  meta:
    $comment: meta-demands, aggregated values of several demands
    type: array
    items:
      type: object
      required:
        - name
        - operation
        - args
      properties:
        name:
          type: string
          description: Name of the output
        operation:
          type: string
          description: Valid sympy operation to calculate the output
        args:
          type: array
          items:
            type: object
            required:
              - name
              - type
            properties:
              name:
                type: string
                description: Name of the argument
              type:
                type: string
                description:
                  defines whether the argument is a constant, input or
                  output
        description:
          type: string
          description: Description of the demand
        test:
          type: array
          itemps:
            type: number

  outputs:
    $comment: outputs are the results of the method-n that are calculated using the inputs and constants
    type: array
    items:
      type: object
      required:
        - name
        - operation
        - args
      properties:
        name:
          type: string
          description: Name of the output
        operation:
          type: string
          description: Valid sympy operation to calculate the output
        range:
          type: object
          description: Dimension of the output
          required:
            - variable
            - start
            - end
            - step
          properties:
            variable:
              type: string
              description: Variable of the output
            start:
              type: number
              description: Start of the output
            end:
              type: number
              description: End of the output
            step:
              type: number
              description: Step of the output
        args:
          type: array
          items:
            type: object
            required:
              - name
              - type
            properties:
              name:
                type: string
                description: Name of the argument
              type:
                type: string
                description:
                  defines whether the argument is a constant, input or
                  output
        description:
          type: string
          description: Description of the output
        value:
          anyOf:
            - type: number
            - type: "null"
          description: Value of the output
        used:
          type: string
          description: in which process is this demand used
        units:
          type: string
          description: the unit of the value
        meta:
          type: string
        test:
          type: array
          itemps:
            type: number